// app global css

@font-face
  font-family Noto
  src url(./fonts/NotoSerifCJKsc-Medium.otf)

html,body {
  font-family 'Roboto', 'Noto';
  overflow:hidden;
  
}
.bg-background {
  background-color var(--q-color-background);
}
.q-menu {
  background-color var(--q-color-background);
  color var(--q-color-text);
}
a:link {
  color: var(--q-color-text);
}
a:visited {
  color: var(--q-color-text);
}
a:hover {
  color: var(--q-color-text);
}
a:active {
  color: var(--q-color-text);
}

.fixed-full {
  top: 69px
}